# Security: Disable lifecycle scripts to prevent supply chain attacks
# See: https://blog.checkpoint.com/research/shai-hulud-2-0-inside-the-second-coming-the-most-aggressive-npm-supply-chain-attack-of-2025/
ignore-scripts=true
